<!DOCTYPE html>
<html>

   <head>
      <title>A Request Header Parser Microservice By dom.farnham('@JSCodebook')</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@jscodebook">
      <meta name="twitter:creator" content="@jscodebook">
      <meta name="twitter:title" content="A Request Header Parser Microservice By dom.farnham('@JSCodebook')">
      <meta name="twitter:description" content="A microservice which reads your request headers and returns JSON containing your client IP address, language and software.">
      <meta name="twitter:image" content="https://cdn.glitch.com/901560a2-0c58-4bb2-868b-43c0ac5d1d10%2Fa-request-header-parser-microservice.png?1503090910604">
   </head>

   <body>
      <div class="container">
        <h1>A Request Header Parser Microservice By dom.farnham('<a href="https://twitter.com/JSCodebook">@JSCodebook</a>')</h1>
        <p>
          A microservice which reads your request headers and returns JSON containing your client IP address, language and software.
        </p>
        <h4>
          Example usage:
        </h4>
        <p>
          <a href="https://a-request-header-parser-microservice.glitch.me/api/who-are-you">https://a-request-header-parser-microservice.glitch.me/api/who-are-you</a>
        </p>
        <h4>
          Example output:
        </h4>
        <p>
          {"ipaddress":"80.24.120.19","language":"en-GB","software":"X11; Fedora; Linux x86_64"}
        </p>
        <h2>
          <a href="mailto:dom@jscodebook.com">Contact me</a> | <a href="https://github.com/domfarnham">My GitHub</a>
        </h2>
      </div>
   </body>

</html>
